
<% string = @to_users.inject('') { |arr, u| arr + u.to_s + ',' }.chomp(',') %>
<% add = "<span>#{t('add')}</span>" %>
<div class="label-field-pair">
  <label for="student_grade"><%= t('select_recipient') %></label>
  <div class ="scrolable" >
    <div class="scroll-inside">
      <div class="hover"><%= link_to "#{t('select_all')}  <span>#{t('add')}</span>", '#', :onClick => "add_all_recipient('#{string}')", :class=> 'all' %>

      </div>
      <% @to_users.each do |t| %>
        <% user = User.find(t) %>
        <div class="hover"><%= link_to user.full_name+add  , '#', :onClick => "add_recipient(#{t})", :class=>'individual',
         :before => "Element.show('loader')",
         :success => "Element.hide('loader')" %>

        </div>
      <% end %>
    </div>
  </div>
</div>