.student-options a {
    text-decoration: none;
    color: #BB0000
}
.student-options a:hover {
    text-decoration: underline;
}
#quickinfo{
    width:600px;
    font-weight: bold;
    overflow:hidden;
}
#quickinfo a{
    float:left;
    padding: 0px 6px;
    text-decoration: none;
    color: #000;
    width: 100px;
}
#quickinfo a:hover{
    text-decoration: underline;
}
#student-list-bg{
    width: 500px;
    background-color: #EEE;
    padding :7px;
    -webkit-border-radius : 10px;
    -moz-border-radius : 10px;
    margin-top: 30px;
}
#loaderbox{
    height: 16px;
}
#student_list {
    margin-top:5px;
    overflow:auto;
    padding:5px;
    height: 100px;
}
.answer-link a
{   color:#BB0000;
    padding-left:12px;
    text-decoration:none;
}
.answer-link a:hover{
    text-decoration: underline;
}
.answer-details{
    float: right;
}
.listitem {
    border-bottom: 1px solid #DDDDDD;
    overflow: hidden;
    font-size:14px;
    padding: 2px;
    color : #444444;
}

#action-buttons{
    padding:0px 50px;
    overflow: hidden;
    width: 600px;
}
.edit_button{
    float :left;
    padding: 3px;
    margin: 0px 5px;
}
.delete_button{
    float :left;
    padding: 3px;
    margin: 0px 5px;
}

#assignment_title{
    font-size: 25px;
    font-weight: bold;
}
#assignment_due {
    font-size: 15px;
    font-weight: bold;
    color:  #B00;
}
#assignment_content{
    background-color: #EEE;
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
    padding: 20px 5px 5px 5px;
}

#action_buttons{
    margin-left: 300px;
    overflow: hidden;
    padding-top: 30px;
}
.submit_button {
    margin-left: 20px;
    padding: 5px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    float: left;
}
.submit_button:hover{
    background: #27292B;
}
.submit_button a {
    color:#fff;
    text-decoration: none;
}
.submit_button a:hover {
    color:#fff;
    text-decoration: none;
}

.answer-link{
    float: right;
}
#attachment{
    background: url("../../images/paperclip.png") no-repeat left ;
    padding-left: 35px;
    height: 35px;
}
#attachment a,.listitem a{
    text-decoration: none;
    color:#000
}
#attachment a:hover,.listitem a:hover {
    text-decoration: underline;
}
.student-options .submit_button{
    margin-top: 20px;
    margin-left: 380px;
}
.student-options{
    margin-top: 10px;
}
.admission_num {
    float: right;
}
