.text-input-bg textarea  {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background-color:#EEEEEE;
    border:1px solid #C6C6C6;
    height:120px;
    margin:5px 0 0 10px;
    padding:3px 6px;
    width:300px;
}

.text-input-bg textarea:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}

#assignment-attachment input{
    height: 24px;
}
.label-field-pair label {
    width: 153px;
}
.submit_button {
    margin-left: 164px;
    margin-top: 20px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}

#assignment_description{
    height:150px;
    overflow: hidden;

}
.assignment_container{
    padding-left: 200px;
    padding-top: 30px;
}