form{
    float:right;
}
#sort_by{
    height:60px;
}

.sort_button {
    margin-top:5px;
    float:right;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.sort_button:hover{
    background:  #373B3F;
}
.label-field-pair{
    float:right;
}
.label-field-pair{
    width:360px;
}
.label-field-pair label{
    width:90px;
}
table#listing .tr-odd, table#listing .tr-even {
    font-size:13px;
    font-weight:normal;
}